@use "/src/scss/global/" as *;

// カード外側のpadding値;
$card-outer-padding: 10px;

// カード内側のpadding値
$card-inner-padding: 20px;

// 内側のborder-radius値
$card-radius-inner-size: 10px;

.c-card {
  position: relative;
  width: 240px;
  height: 320px;
  padding: $card-outer-padding;
  border-radius: calc($card-outer-padding + $card-radius-inner-size);
  box-shadow: 0 8px 54px 24px rgba(0 0 0 / 32%);
  opacity: 0.7;
  overflow: hidden;
  cursor: pointer;

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -10;
  }

  &__inner {
    height: 100%;
    padding: $card-inner-padding;
    border-radius: $card-radius-inner-size;
    border: 1px solid $border-color-white;
  }

  &__txt {
    position: absolute;
    bottom: calc($card-outer-padding + $card-inner-padding);
    left: calc($card-outer-padding + $card-inner-padding);
  }

  &__title {
    margin: 0;
    font-size: 48px;
    font-family: Gabriola, sans-serif;
    line-height: 1.25;
    text-transform: capitalize;
  }

  &__description {
    margin: 0;
  }
}
