@use "/src/scss/global/" as *;

// transition設定値
@mixin card-transition-property(
  $target: all,
  $duration: 1s,
  $timing-function: cubic-bezier(0.39, 0.575, 0.565, 1)) {
    transition: $target $duration $timing-function;
  }

.c-card {
  perspective: 1000px;
  transform-style: preserve-3d;
  cursor: pointer;

  &__inner {
    position: relative;
    width: 240px;
    height: 320px;
    background-color: #333;
    border-radius: 20px;
    box-shadow:
      0 30px 60px 0 rgba(0 0 0 / 66%),
      inset 0 0 0 9px #333,
      inset 0 0 0 10px rgba(253 253 253 / 60%);
    overflow: hidden;
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-position: center center;
    object-fit: cover;
    opacity: 0.5;
  }

  &__txt {
    position: absolute;
    height: 100%;
    width: 100%;
    transform: translateX(12.5%) translateY(70%);

    @include card-transition-property(
      $duration: 0.7s,
    );
  }

  &__title {
    margin: 0;
    font-size: 48px;
    font-family: Gabriola, sans-serif;
    line-height: 1.25;
    text-transform: capitalize;
  }

  &__description {
    margin: 0;
    opacity: 0;

    @include card-transition-property(
      $duration: 0.5s
    );
  }

  &:hover {
    .c-card__inner {
      outline: 1px solid $white;
    }

    .c-card__txt {
      transform: translateX(12.5%) translateY(55%);
    }

    .c-card__description {
      opacity: 1;
    }
  }
}
