@use "/src/scss/global/" as *;
// ボーダーの外側と内側の差分px;
$card-radius-padding: 10px;
// 内側のborder-radiusの値
$card-radius-inner-size: 10px;


.c-card {
  width: 240px;
  height: 320px;
  padding: $card-radius-padding;
  border-radius: calc($card-radius-padding + $card-radius-inner-size);
  background-image: url(https://kumamoto.guide/files/9d008a78-009b-498b-99ee-056bd4ccbe09_l.jpg?1571185638);
  box-shadow: 0px 8px 54px 24px rgba(0, 0, 0, 0.32);;
  opacity: 0.7;

  &__inner {
    position: relative;
    height: 100%;
    padding: 20px;
    border-radius: $card-radius-inner-size;
    border: 1px solid $borderColorWhite;
  }

  &__txt {
    position: absolute;
    bottom: 20px;
    left: 20px;
  }

  &__title {
    margin: 0;
    font-size: 48px;
    font-family: 'Gabriola';
    line-height: 1.25;
    text-transform: capitalize;
  }

  &__description {
    margin: 0;
  }
}