@use "/src/scss/global/" as *;

.c-headingLV1 {
  font-size: 36px;
  font-weight: 700;
  color: $font-white;
  text-transform: capitalize;
  text-align: center;

  @include mq(md) {
    font-size: 40px;
  }

  @include mq(lg) {
    font-size: 48px;
  }
}
