@use "/src/scss/global/" as *;

// topページのみに適用されるスタイルです。
.p-flex {
  display: flex;
  flex-flow: column nowrap;
  margin: -32px 0 0;
  padding: 0;
  list-style: none;

  &__item {
    margin: 32px 0 0;
  }

  // 2カラム
  @include mq(md) {
    flex-flow: row wrap;

    &__item {
      width: calc(100% / 2);
    }
  }

  // 3カラム
  @include mq(lg) {
    &__item {
      width: calc(100% / 3);
    }
  }
}

// transition設定値
@mixin card-transition-property(
  $target: all,
  $duration: 1s,
  $timing-function: cubic-bezier(0.39, 0.575, 0.565, 1)
) {
  transition: $target $duration $timing-function;
}

.p-card {
  &__link {
    color: $text-color-white;
  }

  &__inner {
    position: relative;
    width: 240px;
    height: 320px;
    background-color: #333;
    border-radius: 20px;
    box-shadow:
      0 30px 60px 0 rgba(0 0 0 / 66%),
      inset 0 0 0 9px #333,
      inset 0 0 0 10px rgba(253 253 253 / 60%);
    overflow: hidden;
    margin: 0 auto;
  }

  &__bg {
    position: absolute;
    box-sizing: content-box;
    top: -20px;
    left: -20px;
    height: 100%;
    width: 100%;
    padding: 20px;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.5;

    &.p-card__bg--about {
      background-image: url("/src/images/index_about.jpg");
    }

    &.p-card__bg--work {
      background-image: url("/src/images/index_work.jpg");
    }

    &.p-card__bg--skill {
      background-image: url("/src/images/index_skill.jpg");
    }

    &.p-card__bg--contact {
      background-image: url("/src/images/index_contact.jpg");
    }
  }

  &__txt {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 240px;
    left: 20px;
    pointer-events: none;

    @include card-transition-property($duration: 0.5s);
  }

  &__title {
    margin: 0;
    font-size: 48px;
    font-family: Gabriola, sans-serif;
    line-height: 1.25;
    text-transform: capitalize;
  }

  &__description {
    margin: 0;
    opacity: 0;

    @include card-transition-property($duration: 0.3s);
  }

  &:hover {
    .p-card__inner {
      outline: 1px solid $white;
    }

    .p-card__txt {
      transform: translateY(-15%);
    }

    .p-card__description {
      opacity: 1;
    }
  }
}
